<div class="mainwrapper error-page">
    <div class="content">
     <div class="container">
         <div class="row">
             <div class="col-lg-6 mx-auto">
                 <div class="error-wrap unexpecterror">
                     <div class="error-logo">
                         <a [routerLink]="routes.home1"><img class="img-fluid" src="assets/img/logo.svg" alt="img"></a>
                     </div>
                     <h2>Sorry unexpected Error</h2>
                     <div class="error-img ">
                         <img class="img-fluid" src="assets/img/505error.jpg" alt="img">
                     </div>
                     <a [routerLink]="routes.home1" class="btn btn-primary rounded-pill">Back to Home</a>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>

