<!-- Footer -->
<section class="footer-six common-padding">
    <div class="footer-six-bg">
        <img src="./assets/img/footer-six-bg.png" alt="">
    </div>
    <div class="container">
        <div class="footer-six-top">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-six-top-list">
                        <h4>Network</h4>
                        <ul>
                            <li><a href="javascript:void(0);">Browse by Make</a></li>
                            <li><a href="javascript:void(0);">Add Car</a></li>
                            <li><a href="javascript:void(0);">Sitemap</a></li>
                            <li><a href="javascript:void(0);">My Favourite</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-six-top-list">
                        <h4>Company</h4>
                        <ul>
                            <li><a [routerLink]="routes.about">About us</a></li>
                            <li><a [routerLink]="routes.contact">Contact</a></li>
                            <li><a [routerLink]="routes.contact">Testimonials</a></li>
                            <li><a [routerLink]="routes.bloggrid">Blog</a></li>
                            <li><a [routerLink]="routes.signup">Become a dealer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-six-top-list">
                        <h4>Help Center</h4>
                        <ul>
                            <li><a [routerLink]="routes.faq">Faq’s</a></li>
                            <li><a [routerLink]="routes.pricing">Pricing Plan</a></li>
                            <li><a [routerLink]="routes.privacypolicy">Privacy Policy</a></li>
                            <li><a [routerLink]="routes.termscondition">Terms & Conditions</a></li>
                            <li><a [routerLink]="routes.howitworks">How it works</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="footer-six-right">
                        <div class="footer-send-mail">
                            <input type="text" class="form-control" placeholder="Subscribe to Get Updates">
                            <a href="javascript:void(0);">Send mail</a>
                        </div>
                    </div>
                    <div class="social-icon-six">
                        <h3>Follow us on</h3>
                        <ul>
                            <li>
                                <a href="javascript:void(0);" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" target="_blank"><i class="fab fa-twitter"></i> </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" target="_blank"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-six-center">
            <div class="footer-six-center-content">
                <h6>Our Total Visitors</h6>
                <a href="javascript:void(0);">4,56,6597</a>
            </div>
            <div class="footer-six-center-content">
                <h6>Need live support?</h6>
                <a href="javascript:void(0);">listee@example.com</a>
            </div>
            <div class="footer-six-center-content">
                <h6>Toll Free Customer Care</h6>
                <a href="javascript:void(0);">+91 26447 99875</a>
            </div>
            <div class="footer-six-center-list">
                <ul>
                    <li><a [routerLink]="routes.home6"> Home</a></li>
                    <li><a href="javascript:void(0);"> Site Map</a></li>
                    <li><a [routerLink]="routes.privacypolicy"> Privacy policy</a></li>
                    <li><a [routerLink]="routes.privacypolicy"> Cookie Policy</a></li>
                </ul>
            </div>
        </div>
        <hr class="custom-line mb-0">
        <div class="footer-six-bottom">
            <p>© 2023 Listee. All Rights Reserved.</p>
        </div>
    </div>
</section>
<!-- /Footer -->

